body, html {
  height: 100%;
}

form {
  display: flex;
  justify-content: space-around;
}

#infos-perso {
  width: 50%;
}

#date {
  width: 40%;
}

h1 {
  font-size: 3em;
  width: 80%;
  text-align: center;
  margin-bottom: 5%;
}

.center-align {
  display: flex;
  justify-content: center;
}

.confirmation {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h2 {
  font-size: 2em;
}

td>a {
  color: black;
}

td>a:hover {
  text-decoration: underline;
}

.resa {
  margin-bottom: 10%;
}

#pasDeRdv {
  font-size: 1.5em;
  color: #009688;
}

@media only screen and (max-width: 600px) {
  form {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #infos-perso {
    width: 90%;
  }

  #date {
    width: 90%;
    margin-bottom: 40px;
  }
}
